<div class="home-banner">
  <h1>Cocktailious</h1>
  <span id="dynamic-text"></span>
  <div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-danger" %>
</div>
</div>

<div class="container">
  <h2>Here are your saved cocktails:</h2>
    <% @cocktails.each do |cocktail| %>
      <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
       <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
    <% end %>
</div>
