<div class="navbar">
  <!-- Logo -->
  <a href="/" class="navbar-brand">
    <%= image_tag("cheers.png", size: "35") %>
    <%
=begin%>
 <img src="../assets/images/cheers.png" alt="logo">
<%
=end%>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">

    <%= link_to "Home", root_path, class: "navbar-item" %>

    </div>
  </div>
</div>
