.home-banner {
  background-image: url('https://images.unsplash.com/photo-1558383409-ab7ef8db3e01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3340&q=80');
  background-size: cover;
  height: 200vh;
  color: #eee;
  text-align: center;
  padding-top: 20vh;
  height: 500px;
  h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: 75px;
    font-weight: bold;
  }
}
