.navbar-item {
  justify-content: space-between;
  background: transparent;
  transition: .5s background ease;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title {
  font-family: 'Pacifico', cursive;
  align-content: space-around;
}
